body {
          font-family: 'Sniglet', cursive;
}

/* Navbar */
.navbar {
          background-color: #E37544;
}

.navbar-brand {
          color: #FFF !important;
}

/* Jumbotron */
.jumbotron {
          background-image: url(img/jumbotron.JPG);
          background-size: cover;
          height: 440px;
          text-align: center;
          position: relative;
}

.jumbotron .container {
          z-index: 1;
          position: relative;
}

.jumbotron::after {
          content: '';
          display: block;
          width: 100%;
          height: 80%;
          background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
          position: absolute;
          bottom: 0;
}

.jumbotron .display-4 {
          color: white;
          margin-top: 100px;
          font-weight: lighter;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
          font-size: 40px;
          margin-bottom: 30px;
}

.jumbotron .lead {
          color: #FFF;
}

.jumbotron .display-4 span {
          font-weight: bolder;
}

/* DESKTOP VERSION */
@media (min-width: 992px) {
          .jumbotron .lead {
                    margin-left: 5cm;
                    margin-right: 5cm;
          }
}